.news-container {
  min-height: 100vh
}

.news-card-content {
  &-image {
    max-height: 180px;
    max-width: 180px;
    min-width: 80px;
    width: 100%;
    overflow: hidden
  }
  &-body {
    width: 100%;
    position: relative;

    & > p {
      min-width: 160px
    }
  }
}

.news-main-content {
  max-width: 720px
}

.sidebar-wrapper {
  position: relative
}

#sidemenu {
  width: 100%;
  max-width: 15rem;
  min-width: 15rem;
  position: sticky;
  top: 70px;
  word-break: break-all;
  z-index: 1050;

  &  ul {
    flex: 1;
    & li.wrap:hover {
      background-color: rgb(250, 250, 250)
    }
  }

  & .max-50 {
    max-height: 50vh;
    overflow-y: auto
  }
}

.link-hover-primary:hover {
  svg.hover-primary {
    color: #20c997 !important
  }
}

/*
 * --- MEDIA QUERIES
 */
@media all and (max-width: 767px) {
  .news-card-content {
    &-image {
      max-width: 100%;
      width: 100%
    }
  }
  .news-container-inner {
    flex-direction: column !important;
  }

  #sidemenu {
    max-width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
  }
}

@media all and (max-width: 460px) {
  .navbar-brand > small {
    display: none
  }
  .news-card-content {
    flex-direction: column !important;
  }
}

@media all and (max-width: 320px) {
  .news-side-menu {
    & .list-group-div {
      flex-direction: column !important;
    }
  }
}