.news-container {
  min-height: 100vh
}

.news-card-content {
  &-image {
    max-height: 180px;
    max-width: 180px;
    min-width: 80px;
    width: 100%;
    overflow: hidden
  }
  &-body {
    width: 100%;
    position: relative;

    & > p {
      min-width: 160px
    }
  }
}

.news-main-content {
  max-width: 650px
}

// .navbar {
//   background-color: #2b3e50
// }

#sidemenu {
  width: 100%;
  max-width: 15rem;
  & > ul {
    flex: 1
  }
}

.link-hover-primary:hover {
  svg.hover-primary {
    color: #20c997 !important
  }
}

@media all and (max-width: 650px) {
  .news-card-content {
    &-image {
      max-width: 100%;
      width: 100%
    }
  }
  .news-container-inner {
    flex-direction: column !important;
  }

  #sidemenu {
    max-width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 50
  }
  // .news-side-menu {
  //   margin-right: 0 !important;
  //   max-width: 100%;
  //   & .list-group-div {
  //     flex-direction: row !important;
  //     flex-wrap: wrap !important;
  //   }
  //   & .list-group-item-action {
  //     height: 70px;
  //     min-width: 120px;
  //     flex: 1;
  //     padding: 1rem !important;
  //     margin-bottom: 0
  //   }
  // }
}

@media all and (max-width: 460px) {
  .navbar-brand > small {
    display: none
  }
  .news-card-content {
    flex-direction: column !important;
  }
}

@media all and (max-width: 320px) {
  .news-side-menu {
    & .list-group-div {
      flex-direction: column !important;
    }
  }
}