// IMPORTS
@import './_partials/general.scss';
@import './_partials/animations.scss';
@import './_components/welcome.scss';
@import './_components/auth.scss';
@import './_components/home.scss';
@import './_components/manage.scss';

// START HERE
img[lazy='loaded'] {
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

body, #app {
  min-height: 100vh;
  word-break: break-word;
}

.container {
  max-width: 940px
}

button:hover {
  cursor: pointer
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1)
}